# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
dist
build

# Runtime data
*.pid
*.seed
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE files
.idea
.vscode
*.code-workspace
.DS_Store

# Testing
coverage

# Application specific
result.json
results/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker volumes
redis-data